# Homework week1 - data preprocessing

In [1]:
from ruamel_yaml import YAMLObject
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
chronic_kidney_disease = fetch_ucirepo(id=336) 
  
# data (as pandas dataframes) 
X = chronic_kidney_disease.data.features 
y = chronic_kidney_disease.data.targets 
  
# metadata 
print(chronic_kidney_disease.metadata) 
  
# variable information 
print(chronic_kidney_disease.variables)

{'uci_id': 336, 'name': 'Chronic Kidney Disease', 'repository_url': 'https://archive.ics.uci.edu/dataset/336/chronic+kidney+disease', 'data_url': 'https://archive.ics.uci.edu/static/public/336/data.csv', 'abstract': 'This dataset can be used to predict the chronic kidney disease and it can be collected from the hospital nearly 2 months of period.', 'area': 'Other', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 400, 'num_features': 24, 'feature_types': ['Real'], 'demographics': ['Age'], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2015, 'last_updated': 'Mon Mar 04 2024', 'dataset_doi': '10.24432/C5G020', 'creators': ['L. Rubini', 'P. Soundarapandian', 'P. Eswaran'], 'intro_paper': None, 'additional_info': {'summary': 'We use the following representation to collect the dataset\r\n                        age\t\t-\tage\t\r\n\t\t\tbp\t\t-\tblood pressure\r\n\t\t\tsg\t\t-\tspecific gravity\r\n\t\t\tal\t\t-   \talbumin\r\n\t\t\tsu\t\t-\tsugar\r\n\t\t\trbc\t\t-\tred blood cells\r\n\t\t\tpc\t\t-\tpus cell\r\n\t\t\tpcc\t\t-\tpus cell clumps\r\n\t\t\tba\t\t-\tbacteria\r\n\t\t\tbgr\t\t-\tblood glucose random\r\n\t\t\tbu\t\t-\tblood urea\r\n\t\t\tsc\t\t-\tserum creatinine\r\n\t\t\tsod\t\t-\tsodium\r\n\t\t\tpot\t\t-\tpotassium\r\n\t\t\themo\t\t-\themoglobin\r\n\t\t\tpcv\t\t-\tpacked cell volume\r\n\t\t\twc\t\t-\twhite blood cell count\r\n\t\t\trc\t\t-\tred blood cell count\r\n\t\t\thtn\t\t-\thypertension\r\n\t\t\tdm\t\t-\tdiabetes mellitus\r\n\t\t\tcad\t\t-\tcoronary artery disease\r\n\t\t\tappet\t\t-\tappetite\r\n\t\t\tpe\t\t-\tpedal edema\r\n\t\t\tane\t\t-\tanemia\r\n\t\t\tclass\t\t-\tclass\t', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'We use 24 + class = 25 ( 11  numeric ,14  nominal)\r\n1.Age(numerical)\r\n  \t  \tage in years\r\n \t2.Blood Pressure(numerical)\r\n\t       \tbp in mm/Hg\r\n \t3.Specific Gravity(nominal)\r\n\t  \tsg - (1.005,1.010,1.015,1.020,1.025)\r\n \t4.Albumin(nominal)\r\n\t\tal - (0,1,2,3,4,5)\r\n \t5.Sugar(nominal)\r\n\t\tsu - (0,1,2,3,4,5)\r\n \t6.Red Blood Cells(nominal)\r\n\t\trbc - (normal,abnormal)\r\n \t7.Pus Cell (nominal)\r\n\t\tpc - (normal,abnormal)\r\n \t8.Pus Cell clumps(nominal)\r\n\t\tpcc - (present,notpresent)\r\n \t9.Bacteria(nominal)\r\n\t\tba  - (present,notpresent)\r\n \t10.Blood Glucose Random(numerical)\t\t\r\n\t\tbgr in mgs/dl\r\n \t11.Blood Urea(numerical)\t\r\n\t\tbu in mgs/dl\r\n \t12.Serum Creatinine(numerical)\t\r\n\t\tsc in mgs/dl\r\n \t13.Sodium(numerical)\r\n\t\tsod in mEq/L\r\n \t14.Potassium(numerical)\t\r\n\t\tpot in mEq/L\r\n \t15.Hemoglobin(numerical)\r\n\t\themo in gms\r\n \t16.Packed  Cell Volume(numerical)\r\n \t17.White Blood Cell Count(numerical)\r\n\t\twc in cells/cumm\r\n \t18.Red Blood Cell Count(numerical)\t\r\n\t\trc in millions/cmm\r\n \t19.Hypertension(nominal)\t\r\n\t\thtn - (yes,no)\r\n \t20.Diabetes Mellitus(nominal)\t\r\n\t\tdm - (yes,no)\r\n \t21.Coronary Artery Disease(nominal)\r\n\t\tcad - (yes,no)\r\n \t22.Appetite(nominal)\t\r\n\t\tappet - (good,poor)\r\n \t23.Pedal Edema(nominal)\r\n\t\tpe - (yes,no)\t\r\n \t24.Anemia(nominal)\r\n\t\tane - (yes,no)\r\n \t25.Class (nominal)\t\t\r\n\t\tclass - (ckd,notckd)', 'citation': None}}
     name     role         type demographic              description  \
0     age  Feature      Integer         Age                     None
1      bp  Feature      Integer        None           blood pressure
2      sg  Feature  Categorical        None         specific gravity
3      al  Feature  Categorical        None                  albumin
4      su  Feature  Categorical        None                    sugar
5     rbc  Feature       Binary        None          red blood cells
6      pc  Feature       Binary        None                 pus cell
7     pcc  Feature       Binary        None          pus cell clumps
8      ba  Feature       Binary        None                 bacteria
9     bgr  Feature      Integer        None     blood glucose random
10     bu  Feature      Integer        None               blood urea
11     sc  Feature   Continuous        None         serum creatinine
12    sod  Feature      Integer        None                   sodium
13    pot  Feature   Continuous        None                potassium
14   hemo  Feature   Continuous        None               hemoglobin
15    pcv  Feature      Integer        None       packed cell volume
16   wbcc  Feature      Integer        None   white blood cell count
17   rbcc  Feature   Continuous        None     red blood cell count
18    htn  Feature       Binary        None             hypertension
19     dm  Feature       Binary        None        diabetes mellitus
20    cad  Feature       Binary        None  coronary artery disease
21  appet  Feature       Binary        None                 appetite
22     pe  Feature       Binary        None              pedal edema
23    ane  Feature       Binary        None                   anemia
24  class   Target       Binary        None           ckd or not ckd

           units missing_values
0           year            yes
1          mm/Hg            yes
2           None            yes
3           None            yes
4           None            yes
5           None            yes
6           None            yes
7           None            yes
8           None            yes
9         mgs/dl            yes
10        mgs/dl            yes
11        mgs/dl            yes
12         mEq/L            yes
13         mEq/L            yes
14           gms            yes
15          None            yes
16     cells/cmm            yes
17  millions/cmm            yes
18          None            yes
19          None            yes
20          None            yes
21          None            yes
22          None            yes
23          None            yes
24          None             no

#### we need to change the column names to match tasks given names and remove the unwanted columns

In [2]:
X.rename(columns={
    'bp': 'blood pressure',
    'sg': 'specific gravity',
    'al': 'albumin',
    'su': 'sugar',
    'rbc': 'red blood cell count',
    'bgr': 'blood glucose random',
    'bu': 'blood urea',
    'sod': 'sodium',
    'pot': 'potassium',
    'hemo': 'hemoglobin',
    'pcv': 'packed cell volume',
    'wbcc': 'white blood cell count',
    'rbcc': 'red blood cell count'
}, inplace=True)
X

C:\Users\Lofgr\AppData\Local\Temp\ipykernel_13900\2979192353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.rename(columns={

,age,blood pressure,specific gravity,albumin,sugar,red blood cell count,pc,pcc,ba,blood glucose random,...,hemoglobin,packed cell volume,white blood cell count,red blood cell count,htn,dm,cad,appet,pe,ane
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,15.4,44.0,7800.0,5.2,yes,yes,no,good,no,no
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,11.3,38.0,6000.0,NaN,no,no,no,good,no,no
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,9.6,31.0,7500.0,NaN,no,yes,no,poor,no,yes
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,11.2,32.0,6700.0,3.9,yes,no,no,poor,yes,yes
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,11.6,35.0,7300.0,4.6,no,no,no,good,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,15.7,47.0,6700.0,4.9,no,no,no,good,no,no
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,16.5,54.0,7800.0,6.2,no,no,no,good,no,no
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,15.8,49.0,6600.0,5.4,no,no,no,good,no,no
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,14.2,51.0,7200.0,5.9,no,no,no,good,no,no
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,15.8,53.0,6800.0,6.1,no,no,no,good,no,no

#### now lets drop the unwanted columns

In [7]:
# Drop specified columns from the DataFrame
X.drop(columns=['pc', 'pcc', 'ba', 'sc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane'], inplace=True)

KeyError: "['pc' 'pcc' 'ba' 'sc' 'htn' 'dm' 'cad' 'appet' 'pe' 'ane'] not found in axis"

In [6]:
# lets see the results
X

,age,blood pressure,specific gravity,albumin,sugar,red blood cell count,blood glucose random,blood urea,sodium,potassium,hemoglobin,packed cell volume,white blood cell count,red blood cell count
0,48.0,80.0,1.020,1.0,0.0,NaN,121.0,36.0,NaN,NaN,15.4,44.0,7800.0,5.2
1,7.0,50.0,1.020,4.0,0.0,NaN,NaN,18.0,NaN,NaN,11.3,38.0,6000.0,NaN
2,62.0,80.0,1.010,2.0,3.0,normal,423.0,53.0,NaN,NaN,9.6,31.0,7500.0,NaN
3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,11.2,32.0,6700.0,3.9
4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,11.6,35.0,7300.0,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,140.0,49.0,150.0,4.9,15.7,47.0,6700.0,4.9
396,42.0,70.0,1.025,0.0,0.0,normal,75.0,31.0,141.0,3.5,16.5,54.0,7800.0,6.2
397,12.0,80.0,1.020,0.0,0.0,normal,100.0,26.0,137.0,4.4,15.8,49.0,6600.0,5.4
398,17.0,60.0,1.025,0.0,0.0,normal,114.0,50.0,135.0,4.9,14.2,51.0,7200.0,5.9
399,58.0,80.0,1.025,0.0,0.0,normal,131.0,18.0,141.0,3.5,15.8,53.0,6800.0,6.1

In [8]:
#### now lets change hemoglobin g/dl to g/l

In [9]:
X["hemoglobin"] = X["hemoglobin"].apply(lambda x: x/10)
X

C:\Users\Lofgr\AppData\Local\Temp\ipykernel_13900\549166878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["hemoglobin"] = X["hemoglobin"].apply(lambda x: x/10)

,age,blood pressure,specific gravity,albumin,sugar,red blood cell count,blood glucose random,blood urea,sodium,potassium,hemoglobin,packed cell volume,white blood cell count,red blood cell count
0,48.0,80.0,1.020,1.0,0.0,NaN,121.0,36.0,NaN,NaN,1.54,44.0,7800.0,5.2
1,7.0,50.0,1.020,4.0,0.0,NaN,NaN,18.0,NaN,NaN,1.13,38.0,6000.0,NaN
2,62.0,80.0,1.010,2.0,3.0,normal,423.0,53.0,NaN,NaN,0.96,31.0,7500.0,NaN
3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,1.12,32.0,6700.0,3.9
4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,1.16,35.0,7300.0,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,140.0,49.0,150.0,4.9,1.57,47.0,6700.0,4.9
396,42.0,70.0,1.025,0.0,0.0,normal,75.0,31.0,141.0,3.5,1.65,54.0,7800.0,6.2
397,12.0,80.0,1.020,0.0,0.0,normal,100.0,26.0,137.0,4.4,1.58,49.0,6600.0,5.4
398,17.0,60.0,1.025,0.0,0.0,normal,114.0,50.0,135.0,4.9,1.42,51.0,7200.0,5.9
399,58.0,80.0,1.025,0.0,0.0,normal,131.0,18.0,141.0,3.5,1.58,53.0,6800.0,6.1

#### Next we need to setup the class column to be recorded as a or c (affected or control)

In [16]:
y["class"].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

as we can see, there are three unique types in the column class, where the page only says there should be
 
ckd or notckd
ckd = affected and notckd = control

In [30]:
# check the dtypes because of issues
y.dtypes

class    object
dtype: object

In [32]:
y["class"] = y["class"].astype(str)
# strip trailing whitespaces
y["class"] = y["class"].str.strip()
# 
y["class"].replace({'ckd': 'affected', 'notckd': 'control'}, inplace=True)

C:\Users\Lofgr\AppData\Local\Temp\ipykernel_13900\1001375859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y["class"] = y["class"].astype(str)
C:\Users\Lofgr\AppData\Local\Temp\ipykernel_13900\1001375859.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y["class"] = y["class"].str.strip()
C:\Users\Lofgr\AppData\Local\Temp\ipykernel_13900\1001375859.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  y["class"].replace({'ckd': 'affected', 'notckd': 'control'}, inplace=True)
C:\Users\Lofgr\AppData\Local\Temp\ipykernel_13900\1001375859.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y["class"].replace({'ckd': 'affected', 'notckd': 'control'}, inplace=True)

In [35]:
y["class"].unique()

array(['affected', 'control'], dtype=object)

In [36]:
# join class to X 
X["class"] = y["class"]
X

C:\Users\Lofgr\AppData\Local\Temp\ipykernel_13900\2642151116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["class"] = y["class"]

,age,blood pressure,specific gravity,albumin,sugar,red blood cell count,blood glucose random,blood urea,sodium,potassium,hemoglobin,packed cell volume,white blood cell count,red blood cell count,class
0,48.0,80.0,1.020,1.0,0.0,NaN,121.0,36.0,NaN,NaN,1.54,44.0,7800.0,5.2,affected
1,7.0,50.0,1.020,4.0,0.0,NaN,NaN,18.0,NaN,NaN,1.13,38.0,6000.0,NaN,affected
2,62.0,80.0,1.010,2.0,3.0,normal,423.0,53.0,NaN,NaN,0.96,31.0,7500.0,NaN,affected
3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,1.12,32.0,6700.0,3.9,affected
4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,1.16,35.0,7300.0,4.6,affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,140.0,49.0,150.0,4.9,1.57,47.0,6700.0,4.9,control
396,42.0,70.0,1.025,0.0,0.0,normal,75.0,31.0,141.0,3.5,1.65,54.0,7800.0,6.2,control
397,12.0,80.0,1.020,0.0,0.0,normal,100.0,26.0,137.0,4.4,1.58,49.0,6600.0,5.4,control
398,17.0,60.0,1.025,0.0,0.0,normal,114.0,50.0,135.0,4.9,1.42,51.0,7200.0,5.9,control
399,58.0,80.0,1.025,0.0,0.0,normal,131.0,18.0,141.0,3.5,1.58,53.0,6800.0,6.1,control

#### Drop row if it is missing 3 or more columns

In [37]:
X = X.dropna(thresh=X.shape[1] - 2)

In [38]:
# show meta data
X.describe(include='all')

,age,blood pressure,specific gravity,albumin,sugar,red blood cell count,blood glucose random,blood urea,sodium,potassium,hemoglobin,packed cell volume,white blood cell count,red blood cell count,class
count,244.000000,244.000000,246.000000,247.000000,247.000000,205,237.000000,242.000000,237.000000,237.000000,245.000000,246.000000,237.000000,232.000000,247
unique,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,control
freq,NaN,NaN,NaN,NaN,NaN,177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139
mean,51.135246,75.737705,1.018598,0.910931,0.368421,NaN,140.122363,56.423554,138.472574,4.539241,1.307592,39.849593,8568.354430,4.778879,NaN
std,16.365745,13.451209,0.005729,1.382293,0.982517,NaN,75.933665,50.192651,6.942583,2.870603,0.293331,9.131563,2982.230324,1.003342,NaN
min,6.000000,50.000000,1.005000,0.000000,0.000000,NaN,22.000000,1.500000,111.000000,2.500000,0.310000,9.000000,2600.000000,2.100000,NaN
25%,40.750000,70.000000,1.015000,0.000000,0.000000,NaN,97.000000,27.000000,135.000000,3.800000,1.090000,33.000000,6700.000000,4.075000,NaN
50%,54.000000,80.000000,1.020000,0.000000,0.000000,NaN,117.000000,41.000000,139.000000,4.400000,1.370000,41.000000,8200.000000,4.800000,NaN
75%,63.000000,80.000000,1.025000,2.000000,0.000000,NaN,139.000000,57.500000,142.000000,4.900000,1.530000,47.000000,9800.000000,5.500000,NaN
max,90.000000,180.000000,1.025000,5.000000,5.000000,NaN,490.000000,322.000000,150.000000,47.000000,1.780000,54.000000,26400.000000,8.000000,NaN

In [39]:
# split affected and control to 2 different tables
affected_df = X[X["class"] == "affected"]
control_df = X[X["class"] == "control"]

In [40]:
affected_df

,age,blood pressure,specific gravity,albumin,sugar,red blood cell count,blood glucose random,blood urea,sodium,potassium,hemoglobin,packed cell volume,white blood cell count,red blood cell count,class
3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,1.12,32.0,6700.0,3.9,affected
4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,1.16,35.0,7300.0,4.6,affected
5,60.0,90.0,1.015,3.0,0.0,NaN,74.0,25.0,142.0,3.2,1.22,39.0,7800.0,4.4,affected
8,52.0,100.0,1.015,3.0,0.0,normal,138.0,60.0,NaN,NaN,1.08,33.0,9600.0,4.0,affected
9,53.0,90.0,1.020,2.0,0.0,abnormal,70.0,107.0,114.0,3.7,0.95,29.0,12100.0,3.7,affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,62.0,90.0,1.020,2.0,1.0,NaN,169.0,48.0,138.0,2.9,1.34,47.0,11000.0,6.1,affected
244,64.0,90.0,1.015,3.0,2.0,NaN,463.0,64.0,135.0,4.1,1.22,40.0,9800.0,4.6,affected
246,48.0,110.0,1.015,3.0,0.0,abnormal,106.0,215.0,120.0,5.7,0.86,26.0,5000.0,2.5,affected
248,59.0,70.0,1.010,1.0,3.0,abnormal,424.0,55.0,138.0,4.5,1.26,37.0,10200.0,4.1,affected
249,56.0,90.0,1.010,4.0,1.0,normal,176.0,309.0,124.0,6.5,0.31,9.0,5400.0,2.1,affected

In [41]:
control_df

,age,blood pressure,specific gravity,albumin,sugar,red blood cell count,blood glucose random,blood urea,sodium,potassium,hemoglobin,packed cell volume,white blood cell count,red blood cell count,class
250,40.0,80.0,1.025,0.0,0.0,normal,140.0,10.0,135.0,5.0,1.50,48.0,10400.0,4.5,control
251,23.0,80.0,1.025,0.0,0.0,normal,70.0,36.0,150.0,4.6,1.70,52.0,9800.0,5.0,control
252,45.0,80.0,1.025,0.0,0.0,normal,82.0,49.0,147.0,4.4,1.59,46.0,9100.0,4.7,control
253,57.0,80.0,1.025,0.0,0.0,normal,119.0,17.0,135.0,4.7,1.54,42.0,6200.0,6.2,control
254,51.0,60.0,1.025,0.0,0.0,normal,99.0,38.0,135.0,3.7,1.30,49.0,8300.0,5.2,control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,140.0,49.0,150.0,4.9,1.57,47.0,6700.0,4.9,control
396,42.0,70.0,1.025,0.0,0.0,normal,75.0,31.0,141.0,3.5,1.65,54.0,7800.0,6.2,control
397,12.0,80.0,1.020,0.0,0.0,normal,100.0,26.0,137.0,4.4,1.58,49.0,6600.0,5.4,control
398,17.0,60.0,1.025,0.0,0.0,normal,114.0,50.0,135.0,4.9,1.42,51.0,7200.0,5.9,control
399,58.0,80.0,1.025,0.0,0.0,normal,131.0,18.0,141.0,3.5,1.58,53.0,6800.0,6.1,control

#### create readable data

In [ ]:
import matplotlib.pyplot as plt